<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To LibraryLover</h1>
            <p>View our hand-picked libraries from all over the world</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/libraries/new">Add New Library</a>
            </p>
    </header>
  
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
    <% libraries.forEach(function(library){ %>
        <div class = "col-md-4 col-sm-6">
            <div class="thumbnail">
                <img src=" <%= library.image %> ">
                <div class="caption">
                    <h4><%= library.name %></h4>
                </div> 
                <p>
                    <a href="libraries/<%= library._id %> " class="btn btn-primary">Learn More</a>
                </p>
            </div>
        </div>
    <% }); %> 
        
    </div>

</div>

<% include ../partials/footer %>
